<h1>Trabalho de Banco de dados - Vinícius Sampaio</h1>
<hr>
<h3>Back-end</h3>
<p>
  O back-end foi feito em .NET Core 2.0 usando o Framework Dapper para fazer a conexão com 
  o Banco de dados e sua comunicação com o front-end se da por meio de requisições HTTP.
  Back-end está rodando em <b>http://localhost:50000</b>
</p>

<hr>
<h3>Front-end</h3>
<p>
  O front-end foi feito em Angular usando o Angular CLI.
  Front-end está rodando em <b>http://localhost:4200</b>
</p>

<hr>
<h3>Explicação das páginas:</h3>
  <ul>
    <li>A página Aluno tem um view e insert de aluno.</li>
    <li>A página de professor também.</li>
    <li>Na página de turmas tem um view das disciplinas e de suas turmas.</li>
  </ul>
  
<hr>

<h3>Arquivos</h3>
<ul>
  <li>
    <a href="../../../assets/Arquivos/dump.sql" target="_blank">Arquivo com schema e dados em SQL</a><p>Obs: lembrar de remover as linhas que tiverem OWNER. É o dump do banco que está na database da disciplina.</p>
  </li>
  <li>
    <a href="../../../assets/Arquivos/Trabalho_BD_Final.docx" target="_blank">Trabalho final em Docx</a>
  </li>
</ul>